.navbar {
background-color: rgb(61, 144, 156);
padding: 1.3rem;
position: fixed;
width: 100%;
z-index: 2;
top: 0;
font-family: "Plus Jakarta Sans", sans-serif;
}

@media(max-width: 450px) {
    .navbar {
        padding: 1rem;
    }
}