.show-container {
    margin: 3.3rem;
    margin-top: 7.5rem;
    font-family: "Merriweather", serif;
}

@media(max-width: 450px) {
    .show-container {
        margin: 1rem;
        margin-top: 7rem;
    }
}

.card-body {
    padding: 0;
    margin-left: 0.5rem;
    margin-right: 1.5rem;
}

.card {
    border: none;
    margin-bottom: 2rem;
    cursor: pointer;
}

.card-img-top {
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
    
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    font-size: larger;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.card-text {
    font-weight: 300;
}